APP_NAME=GoMVC
APP_ENV=local
APP_DEBUG=true
APP_HOST=127.0.0.1
APP_PORT=8080

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gomvc
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_PARSE_TIME=true
DB_LOCATION=Local
